/**
* @section CONTAINER GRID
*/
.container{
  padding: 0 10px;
  width: 100%;
}
.content{
  min-height: 1px;
  margin: 0 -10px;

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}
@media (min-width: 980px){
  .container{
    margin: 0 auto;
    width: 980px;
  }
}

/**
* @section COLUMNS
*/
.block{
  float: left;
  box-sizing: border-box;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
  width: 300px;
}


// for mobile
@media (max-width: 900px){
  .block{
    display: block !important;
    float: none !important;
    margin: 0 !important;
    width: 100% !important;
  }
}
@media (min-device-width: 901px) and (max-device-width: 979px){
  .block{
    width: 30.61224489795918%;
  }
}
