/**
* @section RESPONSIVE
*/
@media (max-device-width: 768px){
  header .menu ul li a{font-size: 30px;}
  section.recommendations .products .product{height: auto;}
  section.recommendations .products .product .rating{
    height: 70px;
    width: 300px;
  }
  section.recommendations .products .product span,
  section.recommendations .products .product p,
  section.recommendations .products .product button{font-size: 40px;}
}
@media (min-device-width: 768px) and (max-device-width: 1023px) {
  img{
    max-width: 400px;
  }
}
@media (max-device-width: 900px){
  // for mobile
  section.recommendations .block.product{
    display: block !important;
    float: none !important;
    margin: 0 !important;
    width: 100% !important;
  }
}
@media (max-device-width: 979px){
  header{
    position: relative;
    .brand{
      margin-left: 70px;
      width: 80px;
    }
    .search{
      float: right;
    }
    #botao-mobile{
      display: block !important;
      top: 0;
      left: 0;
      height: 61px;
      padding: 10px;
      width: 60px;
    }
    #menu-active[type="checkbox"]:checked + .menu{display: block;}
    #menu-active[type="checkbox"]:not(:checked) + .menu{display: none;}

    nav.menu{
      background: $blue;
      position: absolute;
      left: 0;

      > ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
@media (max-width: 1130px){
  section .banners .slick-slider{
    .slick-arrow{
      background-color: rgba($white, 0.5);
      border: 10px solid transparent;
      border-radius: 5px;
      padding: 5px;
      height: 70px;
      width: 50px;
    }
    .slick-next.slick-arrow{right: 15px !important;}
    .slick-prev.slick-arrow{left: 15px !important;}
  }
}
@media (max-device-width: 1023px){
  section{
    .categories{
      .category{
        text-align: center !important;
      }
    }
  }
}
