// resets
@import 'vendors/sanitize';
// resets
@import 'imports/fonts';
// grid
@import 'imports/grid';
// variables
@import 'imports/variables';
// mixins
@import 'mixins/mixins';
/**
* @section DEFAULT
*/
*{font-family: 'pt_sansregular', sans-serif; box-sizing: border-box;}
img{width: 100%;}
.logo img{max-width: 200px;}
ul{list-style: none;}
body{background: $gray-darken;}

/**
* @section HEADER
*/
header{
  background: $white;
  position: relative;
  z-index: 5;
  min-height: 60px;

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  .container > * {
    display: inline-block;
    vertical-align: middle;
  }
  .brand, .search{margin: 15px 0;}
  .brand{
    width: 290px;

    .logo img{
      height: 31px;
      width: 50px;
    }

  }
  .search {
    font-family: 'pt_sansregular', sans-serif;
    width: 350px;

    input[type="text"]{
      background: $gray-darken;
      float: left;
      height: 30px;
      padding: 0 10px;
      width: 237px;
    }
    input[type="button"]{
      background: $blue;
      color: $white;
      cursor: pointer;
      float: left;
      height: 30px;
      text-transform: uppercase;
      width: 86px;
    }
  }
  #botao-mobile{
    display: none;
    position: absolute;
    z-index: 1;
    text-indent: -9999px;
  }
  #menu-active{
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 0;
    text-indent: -9999px;
  }
  .menu{
    width: 290px;

    ul{
      display: flex;
      position: relative;
      text-align: center;
      width: 100%;

      li{
        display: inline-block;
        flex-grow: 1;
        height: 60px;
        line-height: 60px;
        padding: 0 7px;
        vertical-align: middle;

        span{
          color: $black;
          font-family: 'robotoregular', sans-serif;
          font-size: 16px;
        }
        /** submenu */
        > ul {
          background: $blue;
          position: absolute;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          opacity: 0;
          padding: 0;
          visibility: hidden;
          top: 100%;
          left: 0;
          width: 100%;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          -moz-opacity: 0.00;


          li{
            cursor: pointer;
            display: none;
            height: 28px;
            line-height: 28px;
            text-align: left;

            a{
              color: $blue-darken;
              display: block;
              font-family: 'robotoregular', sans-serif;
            }
          }
        }
        &:hover{
          background: $blue;
          -webkit-transition: background-color 1000ms linear;
          -moz-transition: background-color 1000ms linear;
          -o-transition: background-color 1000ms linear;
          -ms-transition: background-color 1000ms linear;
          transition: background-color 1000ms linear;

          > ul{
            opacity: 1;
            visibility: visible;
            height: 147px;
            padding: 15px 10px;

            li{
              display: inline-block;
            }
          }
        }

      }
    }
  }
}
/**
* @section SECTION
*/
section{
  /** @subsection BANNER */
  .banners{
    transition: all 0.8s ease-in-out;

    .col{
      float: left;
      width: calc(50% - 5px);

      img{
        width: 100%;

        &:first-of-type{margin-bottom: 7px;}
      }
      &.left{margin-right: 5px;}
      &.right{margin-left: 5px;}
    }
    .slick-slider{
      margin-bottom: 0;

      .slick-slide{
        cursor: pointer;
        width: 100%;

        &:hover{

          .col img{
            box-shadow: 0 0 5px $black;
          }
        }
        &:focus{outline: transparent;}
      }
      .slick-arrow{z-index: 6;}
      .slick-prev.slick-arrow{
        background-image: url("../image/backgrounds/button-left.png");
        left: -75px;
      }
      .slick-next.slick-arrow{
        background-image: url("../image/backgrounds/button-right.png");
        right: -75px;
      }
      .slick-arrow{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 29px 50px;
        height: 50px;
        width: 29px;
        z-index: 5;

        &:before{display: none;}
        &:active{
          opacity: 0.7;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
  /** @subsection RECOMMENDATIONS CATEGORIES and PRODUCTS */
  &.recommendations{
    margin-top: 90px;

    h2{
      font-size: 22px;
      font-weight: normal;
      text-align: center;
      font-family: 'open_sansregular';
      text-transform: uppercase;

      &:after{
        background: $gray;
        content: '';
        display: block;
        height: 10px;
        margin: 0 auto;
        width: 50px;
      }
    }
    .destaques{padding-bottom: 120px;}
    .newproducts{padding-bottom: 80px;}
    .block.product{
      background: $white;
      padding: 10px 10px;

      &:hover{
        -webkit-animation: shadowFade 0.6s;
        box-shadow: 0 0 10px #aaa;
      }
      &:nth-child(2){
        margin: 0 40px;
      }
      img{
        max-width: 300px;
        margin: 0 auto;
        width: 100%;
      }
      .info-product,
      .price{
        display: inline-block;
        margin: 10px 0;
        vertical-align: middle;

        span{font-family: 'open_sanssemibold', sans-serif;}
      }
      .info-product{
        min-height: 40px;
        width: calc(100% - 80px);

        span{
          display: block;
        }
        span.name{
          color: $black;
          font-size: 18px;
          line-height: 20px;
        }
        span.especification{
          color: $gray-light;
          font-size: 12px;
        }
      }
      .price{
        text-align: right;
        width: 75px;

        span:first-of-type{
          color: $black;
          font-size: 12px;
        }
        span.current-price{
          color: $green;
        }
      }
    }
    .container-products{
      margin: 30px 0 0 0;

      &:after {
        display: table;
        content: " ";
        clear: both;
      }
    }

  }
}

// responsive
@import 'imports/responsive';
